{% extends "layout.html.twig" %}
{% block title %} {{ 'Compte'|trans }} - Hajjalbayt {% endblock %}
{% block finance %} class="dropright active" {% endblock %}
{% block facture %} onload="reponse()" {% endblock%}
{% block body %}

<div class="col-lg-11 mt-5 mb-5 fond-7">
    <h3 class="mt-4 text-bold">
        <i class="fas fa-money-bill fa-lg"></i><i class="fas fa-hourglass-half mr-2"></i>
        {{ 'Compte'|trans }}
    </h3>
    {% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-danger alert-dismissible fade show radius-10 shadow-black mt-5 mb-5">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message|trans }}
    </div>
    {% endfor %}
    <div class="col-lg-12 fond-5 mt-5">
        <h4 class="mt-4">
            <i class="fa fa-money-bill-wave"></i>
            {{ 'Soldes'|trans }}
        </h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="alert alert-success shadow-black radius-10 mt-4 p-4 text-green">
                    <span class="text-bold">{{ 'Solde caisse'|trans }}</span> :
                    <h3 class="text-nowrap text-bold text-center mt-3">
                        {{ caisse|number_format(0, '', ' ') }} F CFA
                    </h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="alert alert-success shadow-black radius-10 mt-4 p-4 text-green">
                    <span class="text-bold">{{ 'Avoirs en banque'|trans }}</span> :
                    <h3 class="text-nowrap text-bold text-center mt-3">
                        {{ banque|number_format(0, '', ' ') }} F CFA
                    </h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="alert alert-success shadow-black radius-10 mt-4 p-4 text-green">
                    <span class="text-bold">{{ 'Solde global'|trans }}</span> :
                    <h3 class="text-nowrap text-bold text-center mt-3">
                        {{ (caisse + banque)|number_format(0, '', ' ') }} F CFA
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 fond-5 mt-5">
        <h4 class="mt-4">
            <i class="fa fa-money-bill-wave"></i>
            {{ 'Situations'|trans }}
        </h4>
        <button data-toggle="modal" data-target="#situation" class="btn btn-shadow btn-green mt-4">
            <i class="fa fa-money-bill-wave"></i>
            {{ 'Situation du jour'|trans }}
        </button>
        <div class="modal fade mt-5" id="situation" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content radius-10">
                    <div class="modal-header bb-green">
                        <h5 class="mt-3 text-center text-bold">
                            {{ 'Situation journalière'|trans }}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <h4 class="text-center text-bold text-dark mt-4">
                            {{ 'Quelle situation voulez-vous ?'|trans }}
                        </h4>
                        <div class="col-12 mt-5 mb-4">
                            <div class="centrer">
                                <div class="row">
                                    {% if app.user.agence.licence == 1 %}
                                    <a href="{{ path('Mecque_Brouyard') }}" target="_blank">
                                        <button type="button" class="btn btn-shadow btn-normal btn-green mr-3" onclick="window.location.reload();">
                                            &emsp;
                                            <i class="fa fa-cash-register fa-lg"></i>
                                            {{ 'Caisse'|trans }}
                                            &emsp;
                                        </button>
                                    </a>
                                    <a href="{{ path('finance_brouyardbanque') }}" target="_blank">
                                        <button type="button" class="btn btn-shadow btn-normal btn-primary" onclick="window.location.reload();">
                                            &emsp;
                                            <i class="fa fa-university fa-lg"></i>
                                            {{ 'Banque'|trans }}
                                            &emsp;
                                        </button>
                                    </a>
                                    {% else %}
                                    <button data-toggle="modal" data-target="#licence" class="btn btn-shadow btn-normal btn-green mr-3">
                                        &emsp;
                                        <i class="fa fa-cash-register fa-lg"></i>
                                        {{ 'Caisse'|trans }}
                                        &emsp;
                                    </button>
                                    <button data-toggle="modal" data-target="#licence" class="btn btn-shadow btn-normal btn-primary">
                                        &emsp;
                                        <i class="fa fa-university fa-lg"></i>
                                        {{ 'Banque'|trans }}
                                        &emsp;
                                    </button>
                                    {{ include('licence/licence-popup.html.twig') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-3">
            <div class="col-lg-4">
                <div class="card border-green shadow-black mt-4">
                    <div class="card-header bg-success-light text-green bb-green">
                        <h6 class="mb-n1">
                            {{ 'Situation à une autre date'|trans }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group mt-1">
                            <input type="date" id="day" name="day" class="form-control" onchange="dayenable()">
                        </div>

                        <button data-toggle="modal" data-target="#jour" class="btn btn-shadow btn-td btn-green mt-2 mb-n1 float-right disabled" id="daybtn">
                            <i class="fa fa-check-circle"></i>
                            {{ 'Valider'|trans }}
                        </button>
                        <div class="modal fade mt-5" id="jour" role="dialog">
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content radius-10">
                                    <div class="modal-header bb-green">
                                        <h5 class="mt-3 text-center text-bold">
                                            {{ 'Situation à une autre date'|trans }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <h4 class="text-center text-bold text-dark mt-4">
                                            {{ 'Quelle situation voulez-vous ?'|trans }}
                                        </h4>
                                        <div class="col-12 mt-5 mb-4">
                                            <div class="centrer">
                                                <div class="row">
                                                    {% if app.user.agence.licence == 1 %}
                                                    <button type="button" class="btn btn-shadow btn-green mr-3" onclick="daycaisse()">
                                                        &emsp;
                                                        <i class="fa fa-cash-register fa-lg"></i>
                                                        {{ 'Caisse'|trans }}
                                                        &emsp;
                                                    </button>
                                                    <button type="button" class="btn btn-shadow btn-primary" onclick="daybanque()">
                                                        &emsp;
                                                        <i class="fa fa-university fa-lg"></i>
                                                        {{ 'Banque'|trans }}
                                                        &emsp;
                                                    </button>
                                                    {% else %}
                                                    <button data-toggle="modal" data-target="#licence1" class="btn btn-shadow btn-normal btn-green mr-3">
                                                        &emsp;
                                                        <i class="fa fa-cash-register fa-lg"></i>
                                                        {{ 'Caisse'|trans }}
                                                        &emsp;
                                                    </button>
                                                    <button data-toggle="modal" data-target="#licence1" class="btn btn-shadow btn-normal btn-primary">
                                                        &emsp;
                                                        <i class="fa fa-university fa-lg"></i>
                                                        {{ 'Banque'|trans }}
                                                        &emsp;
                                                    </button>
                                                    {{ include('licence/licence-popup1.html.twig') }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card border-green shadow-black mt-4">
                    <div class="card-header bg-success-light text-green bb-green">
                        <h6 class="mb-n1">
                            {{ 'Situation dans un intervalle de dates'|trans }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-n3">
                            <div class="col-lg-6 form-group mt-1">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="text-nowrap text-right mt-2 mr-n3">
                                            {{ 'Du'|trans }}
                                        </p>
                                    </div>
                                    <div class="col-10">
                                        <input type="date" id="date1" name="date1" class="form-control" onchange="daysenable()">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group mt-1">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="text-nowrap text-right mt-2 mr-n3">
                                            {{ 'Au'|trans }}
                                        </p>
                                    </div>
                                    <div class="col-10">
                                        <input type="date" id="date2" name="date2" class="form-control" onchange="daysenable()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button data-toggle="modal" data-target="#jours" class="btn btn-shadow btn-green mt-2 mb-n1 float-right disabled" id="daysbtn">
                            <i class="fa fa-check-circle"></i>
                            {{ 'Valider'|trans }}
                        </button>
                        <div class="modal fade mt-5" id="jours" role="dialog">
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content radius-10">
                                    <div class="modal-header bb-green">
                                        <h5 class="mt-3 text-center text-bold">
                                            {{ 'Situation dans un intervalle de dates'|trans }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-center text-bold text-dark mt-4">
                                            {{ 'Quelle situation voulez-vous ?'|trans }}
                                        </h4>
                                        <div class="col-12 mt-5 mb-4">
                                            <div class="centrer">
                                                <div class="row">
                                                    {% if app.user.agence.licence == 1 %}
                                                    <button type="button" class="btn btn-shadow btn-green mr-3" onclick="dayscaisse()">
                                                        &emsp;
                                                        <i class="fa fa-cash-register fa-lg"></i>
                                                        {{ 'Caisse'|trans }}
                                                        &emsp;
                                                    </button>
                                                    <button type="button" class="btn btn-shadow btn-primary" onclick="daysbanque()">
                                                        &emsp;
                                                        <i class="fa fa-university fa-lg"></i>
                                                        {{ 'Banque'|trans }}
                                                        &emsp;
                                                    </button>
                                                    {% else %}
                                                    <button data-toggle="modal" data-target="#licence2" class="btn btn-shadow btn-normal btn-green mr-3">
                                                        &emsp;
                                                        <i class="fa fa-cash-register fa-lg"></i>
                                                        {{ 'Caisse'|trans }}
                                                        &emsp;
                                                    </button>
                                                    <button data-toggle="modal" data-target="#licence2" class="btn btn-shadow btn-normal btn-primary">
                                                        &emsp;
                                                        <i class="fa fa-university fa-lg"></i>
                                                        {{ 'Banque'|trans }}
                                                        &emsp;
                                                    </button>
                                                    {{ include('licence/licence-popup2.html.twig') }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-info shadow-black mt-5 mb-3 fond-5">
        <div class="card-header bg-info-light bb-info">
            <h5 class="text-info text-bold">
                <i class="fa fa-money-bill"></i>
                <i class="fa fa-angle-double-right"></i>
                <i class="fa fa-university"></i>
                {{ 'Transfert de fonds'|trans }}
            </h5>
        </div>
        <div class="card-body">
            <table class="table table-info-light table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="text-center">{{ 'Date'|trans }}</th>
                        <th>{{ 'Motif'|trans }}</th>
                        <th>{{ 'Bénéficiaire'|trans }}</th>
                        <th class="text-center">{{ 'Montant'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set montant2 = 0%}
                    {% if transferer is not empty %}
                    {% for debit in transferer %}

                    <tr>
                        <td data-label="{{ 'Date'|trans }}" class="text-center">
                            {{ debit.depense.date|date('d/m/Y')}}
                            <br>
                            {{ debit.depense.date|date('H:i:s')}}
                        </td>
                        <td data-label="{{ 'Motif'|trans }}">
                            {{ debit.depense.motif }}
                        </td>
                        <td data-label="{{ 'Bénéficiaire'|trans }}">
                            {{ debit.depense.beneficiaire }}
                        </td>
                        <td data-label="{{ 'Montant'|trans }}" class="montant">
                            {{ debit.depense.montant|number_format(0, '', ' ') }}
                        </td>
                        {% set montant2 = montant2 + debit.depense.montant %}
                    </tr>

                    {% endfor %}
                    {% else %}
                    <tr>
                        <td data-label="colspan" colspan="4">
                            {{ 'Aucun transfert de fonds'|trans }}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-light bt-info">
            <h4 class="text-info text-bold">
                {{ 'Total transfert'|trans }} :
                <span class="text-nowrap">
                    {{ montant2|number_format(0, '', ' ') }} F CFA
                </span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-green shadow-black mt-4 mb-3 fond-5">
                <div class="card-header bg-success-light text-green bb-green">
                    <h5>
                        <i class="fa fa-money-bill"></i>
                        <i class="fa fa-sign-in-alt ml-n2"></i>
                        {{ 'Entrées'|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-success-light table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-center"> {{ 'Date'|trans }} </th>
                                <th> {{ 'Provenance'|trans }} </th>
                                <th> {{ 'Type'|trans }} </th>
                                <th class="text-center"> {{ 'Montant'|trans }} </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% set montant = 0 %}
                            {% if credits is not empty %}
                            {% for credit in credits %}

                            <tr>
                                {% if credit.versement is null %}
                                {% if credit.versementagence is null %}
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {{ credit.gain.date|date('d/m/Y')}}
                                    <br>
                                    {{ credit.gain.date|date('H:i:s')}}
                                </td>
                                <td data-label="{{ 'Provenance'|trans }}">
                                    {{ credit.gain.provenance }} :
                                    {{ credit.gain.motif }}
                                </td>
                                <td data-label="{{ 'Type'|trans }}">
                                    {{ credit.gain.type|trans }}
                                </td>
                                <td data-label="{{ 'Montant'|trans }}" class="montant">
                                    {{ credit.gain.montant|number_format(0, '', ' ') }}
                                </td>
                                {% set montant = montant + credit.gain.montant %}
                                {% else %}
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {{ credit.versementagence.date|date('d/m/Y')}}
                                    <br>
                                    {{ credit.versementagence.date|date('H:i:s')}}
                                </td>
                                <td data-label="{{ 'Provenance'|trans }}">
                                    {{credit.versementagence.agence.nom}}
                                </td>
                                <td data-label="{{ 'Type'|trans }}">

                                </td>
                                <td data-label="{{ 'Montant'|trans }}" class="montant">
                                    {{ credit.versementagence.montant|number_format(0, '', ' ') }}
                                </td>
                                {% set montant = montant + credit.versementagence.montant %}
                                {% endif %}
                                {% else %}
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {{ credit.versement.date|date('d/m/Y')}}
                                    <br>
                                    {{ credit.versement.date|date('H:i:s')}}
                                </td>
                                <td data-label="{{ 'Provenance'|trans }}">
                                    {{ 'Versement'|trans }}
                                    {{ credit.versement.pelerin.prenom }}
                                    {{ credit.versement.pelerin.nom }}
                                </td>
                                <td data-label="{{ 'Type'|trans }}">
                                    {{ credit.versement.type|trans }}
                                    {% if credit.versement.banque is not null %}
                                    {{credit.versement.banque}}
                                    <br>
                                    <span class="text-nowrap">Nº : {{credit.versement.numero}}</span>
                                    {% endif %}
                                </td>
                                <td data-label="{{ 'Montant'|trans }}" class="montant">
                                    {{ credit.versement.montant|number_format(0, '', ' ') }}
                                </td>

                                {% set montant = montant + credit.versement.montant %}
                                {% endif %}
                            </tr>

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td data-label="colspan" colspan="4">
                                    {{ 'Vide'|trans }}
                                </td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-light bt-green">
                    <h4 class="text-bold">
                        {{ 'Total entrées'|trans }} :
                        <span class="text-nowrap">
                            {{ montant|number_format(0, '', ' ') }} F CFA
                        </span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-warning shadow-black mt-4 mb-3 fond-5">
                <div class="card-header bg-warning-light bb-warning">
                    <h5 class="text-warning text-bold">
                        <i class="fa fa-money-bill"></i><i class="fa fa-sign-out-alt"></i>
                        {{ 'Sorties'|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-warning-light table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">{{ 'Date'|trans }}</th>
                                <th>{{ 'Motif'|trans }}</th>
                                <th> {{ 'Type'|trans }} </th>
                                <th class="text-center">{{ 'Montant'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set montant1 = 0 %}
                            {% if debits is not empty %}
                            {% for debit in debits %}

                            <tr>
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {{ debit.depense.date|date('d/m/Y')}}
                                    <br>
                                    {{ debit.depense.date|date('H:i:s')}}
                                </td>
                                <td data-label="{{ 'Motif'|trans }}">
                                    {{ debit.depense.motif }}
                                </td>
                                <td data-label="{{ 'Type'|trans }}">
                                    {{ debit.depense.type|trans }}
                                    {% if debit.depense.banque is not null %}
                                    {{ debit.depense.banque}}
                                    <br>
                                    <span class="text-nowrap">Nº : {{ debit.depense.numero}}</span>
                                    {% endif %}
                                </td>
                                <td data-label="{{ 'Montant'|trans }}" class="montant">
                                    {{ debit.depense.montant|number_format(0, '', ' ') }}
                                </td>
                                {% set montant1 = montant1 + debit.depense.montant %}

                            </tr>

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td data-label="colspan" colspan="4">
                                    {{ 'Vide'|trans }}
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>

                </div>
                <div class="card-footer bg-light bt-warning">
                    <h4 class="text-warning text-bold">
                        {{ 'Total sorties'|trans }} :
                        <span class="text-nowrap">
                            {{ montant1|number_format(0, '', ' ') }} F CFA
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
