{% extends 'layout3.html.twig' %}
{% block title %} {{ 'Mon profile'|trans }} {% endblock %}
{% block caisse %} class="active" {% endblock %}
{% block body %}
<div class="row">
  
    <div class="col-12">
       
        {{ include('boutons/user.html.twig') }}
        
        {% for message in app.flashes('notice')%}
        <div class="col-lg-12 mt-4 alert alert-success alert-dismissible fade show radius-10 shadow-black" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|trans }}
        </div>
        {% endfor%}
        <div class="col-lg-12">
            <div class="col-lg-6  col-md-12 offset-lg-3 mt-5 mb-5 pb-2 fond-inner">
                <div class="col-12 profile-header">
                    <img src="{{asset('images/logo.JPG') }}" width="60" height="" alt="tam" class="rounded-circle" />
                   <h4> {{ nom_site }}</h4>
                </div>
                <div class="row">
                <div class="col-4 mt-5 text-center">
                    {% if user.sexe == "Monsieur" %}
                     <img src="{{asset('images/avatar.jpg') }}" width="100" alt="Photo" class="rounded-circle" />
                     {% else %}
                     <img src="{{asset('images/avatar-femme.jpg') }}" width="100" alt="Photo" class="rounded-circle" />
                     {% endif %}
                </div>
                <div class="col-8 mt-3 mb-4">
                    <h6 class="mt-3">Identifiant :<b>   {{ user.username }}</b></h6>
                    <h6>Prenom :<b>   {{ user.prenom }}</b></h6>
                    <h6>Nom :<b>   {{ user.nom }}</b></h6>
                    <h6>Date de naissance :<b>   {{ user.datenaiss|date('d/m/Y') }}</b></h6>
                    <h6>Lieu de naissance :<b>   {{ user.lieunaiss }}</b></h6>
                    <h6>Adresse :<b>   {{ user.adresse }}</b></h6>
                </div>
                </div>

                    
            
                
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script>
    
    function del(id) {
        if (confirm("{{ 'Voulez-vous vraiment supprimer cet utilisateur ?'|trans }}")) {
            $('#btn').html("<i class=\"fa fa-spinner\"></i>");
            $.ajax({
                type: "POST",
                url: "{{path('security_user_delete')}}",
                data: "usr=" + id,
                success: function(data) {
                    if (data['ok'] != '') {
                        document.location.href = "{{ path('security_users') }}";
                    }
                },
                error: function() {
                    alert("{{ 'La requête n\'a pas abouti'|trans}}");
                }
            });
        }

    }

</script>
{% endblock %}
{% endblock %}
