{% extends 'layout4.html.twig' %}

{% block caisse %} class="active" {% endblock %}

{% block body %}
<h3><i class="fa fa-suitcase"></i> Caisse Nationale / transferts</h3>
<div class="row">
    <div class="col-12">
        {% if is_granted('ROLE_MODIF_FIN_BEN') %}
        <a  class="btn btn-success mb-3" href="{{ path('transfert_new') }}">
            <i class="fa fa-exchange"></i>
            <i class="fa fa-money"></i>Nouveau Transferts
        </a>
        {% endif %}
    <a  class="btn btn-primary pull-right mb-3" href="{{ path('finance_national') }}"><i class="fa fa-undo"></i> Retour</a></div>
    </div>
    <h1>Listes transferts</h1>

    <table width="100%" class="table table-success-light table-bordered table-hover table-striped"  id="liste">
        <thead>
            <tr>
                
                <th>Date</th>
                <th>Cellule</th>
                <th>Montant</th>
                <th>Motif</th>
                {% if is_granted('ROLE_MODIF_FIN_BEN') %}<th>actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for transfert in transferts %}
            <tr>
                <td>{{ transfert.date ? transfert.date|date('d/m/Y') : '' }}</td>
                <td>{{ transfert.cellule ? transfert.cellule.nom }}</td>
                <td>{{ transfert.montant|number_format(0, '', ' ') }}</td>
                <td>{{ transfert.motif }}</td>
                {% if is_granted('ROLE_MODIF_FIN_BEN') %}
                <td>
                    <a class="btn btn-success" href="{{ path('transfert_edit', {'id': transfert.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                    {{ include('transfert/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-12" id="exportexcel">

        </div>
    </div>
{% endblock %}
