{% extends 'website.html.twig' %}

{% block evenement %}class="active"{% endblock %}

{% block body %}
<div class="bodywrap">
<div class="heading" style="background:url(../images/images/heading.png) no-repeat">
   <h1> &nbsp;</h1>
</div>

<section class="home-packages" style="margin-bottom: 20rem;">


    <div class="box-container">
 
       <div class="box">
          <div class="image">
             <img src="{{ asset('images/images/tam.jpg')}}" alt="">
          </div>
          <div class="content">
             <h3>Grand magal Touba</h3>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
             <a href="#" class="btn">Plus d'infos</a>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="{{ asset('images/images/tam1.jpg')}}" alt="">
          </div>
          <div class="content">
             <h3>Consultation Annuelle</h3>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
             <a href="#" class="btn">Plus d'infos</a>
          </div>
       </div>
       
       <div class="box">
          <div class="image">
             <img src="{{ asset('images/images/tam2.jpg')}}" alt="">
          </div>
          <div class="content">
             <h3>Ziar Xelcom</h3>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
             <a href="#" class="btn">Plus d'infos</a>
          </div>
       </div>

       <div class="box">
        <div class="image">
           <img src="{{ asset('images/images/tam.jpg')}}" alt="">
        </div>
        <div class="content">
           <h3>Grand magal Touba</h3>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
           <a href="#" class="btn">Plus d'infos</a>
        </div>
     </div>

     <div class="box">
        <div class="image">
           <img src="{{ asset('images/images/tam1.jpg')}}" alt="">
        </div>
        <div class="content">
           <h3>Consultation Annuelle</h3>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
           <a href="#" class="btn">Plus d'infos</a>
        </div>
     </div>
     
     <div class="box">
        <div class="image">
           <img src="{{ asset('images/images/tam2.jpg')}}" alt="">
        </div>
        <div class="content">
           <h3>Ziar Xelcom</h3>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
           <a href="#" class="btn">Plus d'infos</a>
        </div>
     </div>

  
 
    </div>
 
    <div class="load-more"> <a href="#" class="btn">Plus d'Evenements</a> </div>
 
 </section>
 

</div>








{% endblock %}