{% extends 'website.html.twig' %}

{% block partenaire %}class="active"{% endblock %}

{% block body %}
<div class="bodywrap">
<div class="heading" style="background:url(../images/images/heading.png) no-repeat">
   <h1> &nbsp;</h1>
</div>

<section class="services">

   

    <div class="box-container">
 
       <div class="box">
         <img src="{{ asset('images/images/pt.JPG')}}" alt="">
          <h3>Partenaire</h3>
       </div>
 
       <div class="box">
         <img src="{{ asset('images/images/pt.JPG')}}" alt="">
          <h3>Partenaire</h3>
       </div>
 
       <div class="box">
         <img src="{{ asset('images/images/pt.JPG')}}" alt="">
          <h3>Partenaire</h3>
       </div>
 
       <div class="box">
         <img src="{{ asset('images/images/pt.JPG')}}" alt="">
          <h3>Partenaire</h3>
       </div>
       </div>
       <div class="box-container mt-3">
 
       <div class="box">
         <img src="{{ asset('images/images/pt.JPG')}}" alt="">
          <h3>Partenaire</h3>
       </div>
 
       <div class="box">
         <img src="{{ asset('images/images/pt.JPG')}}" alt="">
          <h3>Partenaire</h3>
       </div>
 
    
    <div class="box">
        <img src="{{ asset('images/images/pt.JPG')}}" alt="">
         <h3>Partenaire</h3>
      </div>
      <div class="box">
        <img src="{{ asset('images/images/pt.JPG')}}" alt="">
         <h3>Partenaire</h3>
      </div>
      </div>
      <div class="box-container mt-3">

      

      <div class="box">
        <img src="{{ asset('images/images/pt.JPG')}}" alt="">
         <h3>Partenaire</h3>
      </div>

      <div class="box">
        <img src="{{ asset('images/images/pt.JPG')}}" alt="">
         <h3>Partenaire</h3>
      </div>

      <div class="box">
        <img src="{{ asset('images/images/pt.JPG')}}" alt="">
         <h3>Partenaire</h3>
      </div>

      <div class="box">
        <img src="{{ asset('images/images/pt.JPG')}}" alt="">
         <h3>Partenaire</h3>
      </div>

   </div>
    <section class="home-offer" style="padding:0px; margin:0px;">
    <div class="content">
       <a href="#" class="btn">Voir Plus</a>
    </div>
 </section>
</div>








{% endblock %}