{% extends 'base.html.twig' %}

{% block title %}Transfert{% endblock %}

{% block body %}
    <h1>Transfert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfert.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ transfert.montant }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ transfert.motif }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transfert.date ? transfert.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transfert_index') }}">back to list</a>

    <a href="{{ path('transfert_edit', {'id': transfert.id}) }}">edit</a>

    {{ include('transfert/_delete_form.html.twig') }}
{% endblock %}
