{% extends 'layout4.html.twig' %}
{% block title %} TAM- Assemblee Generale  {% endblock %}
{% block activite %} class="active" {% endblock %}

{% block body %}
<h3><i class="fa fa-suitcase"></i> Caisse National / Activites</h3>

<div class="row">
    <div class="col-12">
       
        <a  class="btn btn-success pull-right mb-3" href="{{ path('activite_new') }}"><i class="fa fa-plus"></i> Nouvelle Activite</a></div>
    </div>
    
    <table width="100%" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    {{ 'Date'|trans }}
                </th>
                <th>
                    {{ 'Nom'|trans }}
                </th>
                <th>
                    {{ 'Lieu'|trans }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for activite in activites %}
            <tr>
                <td>{{ activite.date ? activite.date|date('d/m/Y') : '' }}</td>
                <td>{{ activite.nom }}</td>
                <td>{{ activite.lieu }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
