{% extends 'layout1.html.twig' %}
{% block title %} TAM- Assemblee Generale  {% endblock %}
{% block ca %} class="active" {% endblock %}

{% block body %}
<h3><i class="fa fa-legal"></i> Conseil d'administration</h3>
{% if is_granted('ROLE_ADMIN') %}
  <div class="row">
    <div class="col-12 text-right mt-3">  
      <a  class="btn btn-primary" href="{{ path('poste_index') }}"><i class="fa fa-briefcase"></i> Postes</a>
  </div>
  </div>
{% endif %}
<div class="tree">
<div class="row">
  <div class="col-md-3 col-sm-6 offset-md-5  offset-sm-3 text-center mt-3">
    <a href="#"><img src="{{ asset('images/avatar.jpg') }}" alt=""/>
      {% for poste in postes %}
        {%if poste.id == 1 %}
          <small>{{ poste.user ?  poste.user.prenom~' '~poste.user.nom : 'non alloue' }}</small>
        {% endif %}
        {% else %}
        <small>non alloue</small>
      {% endfor %}
      <span>President</span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 offset-md-3 text-center mt-3">
    <a href="#"><img src="{{ asset('images/avatar.jpg') }}" alt=""/>
      {% for poste in postes %}
        {%if poste.id == 2 %}
          <small>{{ poste.user ?  poste.user.prenom~' '~poste.user.nom : 'non alloue' }}</small>
        {% endif %}
        {% else %}
        <small>non alloue</small>
      {% endfor %}
      <span>Premier Vice President</span>
    </a>
  </div>
  <div class="col-md-3 col-sm-6 offset-md-1 text-center mt-3">
    <a href="#"><img src="{{ asset('images/avatar.jpg') }}" alt=""/>
      {% for poste in postes %}
        {%if poste.id == 3 %}
          <small>{{ poste.user ?  poste.user.prenom~' '~poste.user.nom : 'non alloue' }}</small>
        {% endif %}
        {% else %}
        <small>non alloue</small>
      {% endfor %}
      <span>Deuxieme Vice President</span>
    </a> 
  </div>
</div>
<div class="row">
  {% for poste in postes %}
        {%if poste.id != 3  and poste.id != 2 and poste.id != 1 %}
          <div class="col-md-3 col-sm-6 text-center mt-3">
            <a href="#"><img src="{{ asset('images/avatar.jpg') }}" alt=""/>
              
                <small>{{ poste.user ?  poste.user.prenom~' '~poste.user.nom : 'non alloue' }}</small>
                <span>Membre CA </span>
            </a>
          </div>
        {% endif %}
{% else %}
<small> non alloue </small>
<span>Membre CA </span>
{% endfor %}
               
  
</div>


{% block scripts %}


{% endblock %}
{% endblock %}
