<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{asset('images/favicon.ico')}}" rel="shortcut icon">

    <title>TAM - Touba Assistance Medicale</title>
    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    {% block javascrits %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="col-lg-6 offset-lg-3 pb-1 fond">
                    <h3 class="text-center bleu"> Bienvenue sur le site d'inscription en ligne de</h3> 
                        <h1 class="text-center bleu">TOUBA ASSISTANCE MEDICALE</h1>
                     
                    <div class="col-md-12 text-center">
                        <img src="{{asset('images/logo.JPG') }}" width="150" alt="Photo" class="rounded-circle" />
                    </div>
                    {% for message in app.flashes('notice')%}
                    <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        {{ message|trans }}
                    </div>
                    {% endfor%}
                    <div class="col-12">
                        Les Champs avec * sont obligatoires
                    </div>
                     {{ include('security/security/userform.html.twig') }}
                     <br/>
                </div>
</div>
{% block javascripts %}
    <!-- jQuery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#universite').hide();
            $('#faculte').hide();
            $('#classe').hide();

            $('#registration_universite').hide();
            $('#registration_faculte').hide();
            $('#registration_classe').hide();
            $('#registration_femmes').hide();
            $('#registration_enfants').hide();

            $('#profession').hide();
            $('#specialite').hide();
            $('#registration_profession').hide();
            $('#registration_specialite').hide();
            if($('#registration_situation option:selected').val() == 'Marie(e)'){
                    $('#registration_femmes').show();
                     $('#registration_enfants').show();
            }
            if($('#registration_status option:selected').val() == 'Etudiant'){
                        $('#universite').show();
                        $('#faculte').show();
                        $('#classe').show();

                        $('#profession').hide();
                        $('#specialite').hide();

                    $('#registration_universite').show();
                    $('#registration_faculte').show();
                    $('#registration_classe').show();

                    $('#registration_profession').hide();
                    $('#registration_specialite').hide();

                    $('#registration_profession').val('');
                    $('#registration_specialite').val('');
                }
                if($('#registration_status option:selected').val() == 'Professionnel'){
                    $('#universite').hide();
                    $('#faculte').hide();
                    $('#classe').hide();

                    $('#profession').show();
                    $('#specialite').show();

                    $('#registration_universite').hide();
                    $('#registration_faculte').hide();
                    $('#registration_classe').hide();

                    $('#registration_profession').show();
                    $('#registration_specialite').show();

                    $('#registration_universite').val('');
                    $('#registration_faculte').val('');
                    $('#registration_classe').val('');
                }

            $('#registration_status').change(function(){
                if($('#registration_status option:selected').val() == 'Etudiant'){
                        $('#universite').show();
                        $('#faculte').show();
                        $('#classe').show();

                        $('#profession').hide();
                        $('#specialite').hide();

                    $('#registration_universite').show();
                    $('#registration_faculte').show();
                    $('#registration_classe').show();

                    $('#registration_profession').hide();
                    $('#registration_specialite').hide();

                    $('#registration_profession').val('');
                    $('#registration_specialite').val('');
                }
                else if($('#registration_status option:selected').val() == 'Professionnel'){
                    $('#universite').hide();
                    $('#faculte').hide();
                    $('#classe').hide();

                    $('#profession').show();
                    $('#specialite').show();

                    $('#registration_universite').hide();
                    $('#registration_faculte').hide();
                    $('#registration_classe').hide();

                    $('#registration_profession').show();
                    $('#registration_specialite').show();

                    $('#registration_universite').val('');
                    $('#registration_faculte').val('');
                    $('#registration_classe').val('');
                }
                else{
                    $('#universite').hide();
                    $('#faculte').hide();
                    $('#classe').hide();
                    $('#profession').hide();
                    $('#specialite').hide();

                    $('#registration_universite').hide();
                    $('#registration_faculte').hide();
                    $('#registration_classe').hide();
                    $('#registration_profession').hide();
                    $('#registration_specialite').hide();

                    $('#registration_universite').val('');
                    $('#registration_faculte').val('');
                    $('#registration_classe').val('');
                    $('#registration_profession').val('');
                    $('#registration_specialite').val('');
                }
            });

            $('#registration_situation').change(function(){
                if($('#registration_situation option:selected').val() == 'Marie(e)'){
                    $('#registration_femmes').show();
                     $('#registration_enfants').show();
            }else{
                $('#registration_femmes').hide();
                 $('#registration_enfants').hide();

                 $('#registration_femmes').val('');
                 $('#registration_enfants').val('');
            }

            });

            $('#registration_femmes').change(function(){
                if($('#registration_sexe option:selected').val() == 'Madame'){
                    $('#registration_femmes').val('');
            }

            });

            $('#registration_sexe').change(function(){
                if($('#registration_sexe option:selected').val() == 'Madame'){
                    $('#registration_femmes').val('');
            }

            });
            
            
        }); 
    function envoie() {
        /* $('#send').html("<img src='{{ asset('images/ajax-loader.gif')}}' width='20' />");*/
        var submit = 1;
        if($('#registration_status option:selected').val() == 'Etudiant'){
            if( $('#registration_universite').val() == "" || $('#registration_faculte').val () == "" || $('#registration_classe option:selected').val() == ""){
                alert("Renseignez: \n Universite \n Faculte \n Classe");
                submit = 0;
            }
        }
        else if($('#registration_status option:selected').val() == 'Professionnel'){
             if( $('#registration_profession').val() == ""){
                alert("Renseignez la profession au moins");
                submit = 0;
            }
        }
        else{
            
            alert("Renseignez le status");
            submit = 0;
        }

        if($('#registration_situation option:selected').val() == 'Marie(e)'){
            if($('#registration_sexe option:selected').val() == 'Madame'){
                
                if( $('#registration_enfants').val() == "" ){
                    alert("Renseignez: Votre nombre d'enfants"); 
                    submit = 0; 
                } 
            } else{
                if( $('#registration_enfants').val() == "" || $('#registration_femmes option:selected').val() == "" ){
                    alert("Renseignez: \n Nombre de femmes \n nombre d'enfants"); 
                    submit = 0; 
                }    
            }
        } 

        if(submit == 1)
        $('#subm').trigger('click');
        
    }
    
    function send() {
         $('#confirm').html("<i class='fa fa-spinner'></i>");
         $('#form').submit();
    }
    function verif() {
         $('#annee').html($('#registration_annee  option:selected').val());
         $('#civilite').html($('#registration_sexe  option:selected').val());
         $('#prenom').html($('#registration_prenom').val());
         $('#nom').html($('#registration_nom').val());
         $('#datenaiss').html($('#registration_birthday').val());
         $('#lieunaiss').html($('#registration_lieunaiss').val());
         $('#adresse').html($('#registration_adresse').val());
         $('#telephone').html($('#registration_phone').val());
         $('#email').html($('#registration_email').val());
         $('#blood').html($('#registration_bloodgroup').val());
         $('#vr_status').html($('#registration_status option:selected').val());

         if($('#registration_status option:selected').val() == 'Etudiant'){
            $('#vr_div_universite').show();
             $('#vr_div_faculte').show();
             $('#vr_div_niveau').show();

             $('#vr_div_profession').hide();
             $('#vr_div_specialite').hide();

            $('#vr_universite').html($('#registration_universite').val());
            $('#vr_faculte').html($('#registration_faculte').val());
            $('#niveau').html($('#registration_classe option:selected').val());

         }
         else if($('#registration_status option:selected').val() == 'Professionnel'){
            $('#vr_div_universite').hide();
             $('#vr_div_faculte').hide();
             $('#vr_div_niveau').hide();

             $('#vr_div_profession').show();
             $('#vr_div_specialite').show();

            $('#vr_profession').html($('#registration_profession option:selected').val());
            $('#vr_specialite').html($('#registration_specialite').val());

         }
         $('#vr_profession').html($('#registration_profession').val());
         $('#vr_specialite').html($('#registration_specialite').val());
         
         $('#vr_situation').html($('#registration_situation option:selected').val());

         if($('#registration_situation option:selected').val() == 'Marie(e)'){
             $('#vr_div_femmes').show();
             $('#vr_div_enfants').show();
            $('#vr_femmes').html($('#registration_femmes option:selected').val());
             $('#vr_enfants').html($('#registration_enfants').val());

         }else{
            $('#vr_div_femmes').hide();
             $('#vr_div_enfants').hide();
         }
        
         
         switch($('#registration_region option:selected').val()){
           case '3': $('#region').html("Dakar"); break; 
           case '4': $('#region').html("Thies"); break;
           case '5': $('#region').html("Diourbel"); break;
           case '6': $('#region').html("Kaolack"); break;
           case '7': $('#region').html("Fatick"); break;
           case '8': $('#region').html("Kaffrine"); break;
           case '9': $('#region').html("Saint Louis"); break;
           case '10': $('#region').html("Louga"); break;
           case '11': $('#region').html("Matam"); break;
           case '12': $('#region').html("Ziguinchor"); break;
           case '13': $('#region').html("Kolda"); break;
           case '14': $('#region').html("Sedhiou"); break;
           case '15': $('#region').html("Kedougou"); break;
           case '16': $('#region').html("Tambacounda"); break;
         }
         $('#departement').html($('#registration_departement').val());
         $('#ville').html($('#registration_ville').val());
         $('#etablissement').html($('#registration_etablissement').val());
         $('#fonction').html($('#registration_fonction').val());
    }
    </script>
    {% endblock %}
</body>

</html>

